<body style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBBEXXmQ3THutGt2YCWLPfc3bG7hpDl8lpA5qCN1Pp8fiwT04X7g)">

<%= render :template => "/home/nav" %>
<div class="container" >
<table class = "table" style="background-image: url(http://www.bestcoaching.com.mx/cartas/wp-content/uploads/2016/01/black-background-92475-1024x640.jpg)" >
	<thead align="center">
		<tr>
		<th> 
			<font color="grey"><b>DEPARTMENT NAME</b></font>
		</th>
		<th>
			<font color="grey"><b>START TIME</b></font>
		</th>
		<th>
			<font color="grey"><b>END TIME</b></font>
		</th>
		<th>
			<font color="grey"><b></b></font>
		</th>
		</tr>
	</thead>
	
	<%@departments.each do |d|%>
	
	<tbody align="center">
		<tr>
			<td>
				<font color="grey">	<%= d.dept_name%> </font>
			</td>

			<td align="center">
				<%=form_for(:department, url: department_path) do |f| %>
				<%= f.time_select :timings, :value => d.timings, :default => d.timings %>
				<%=f.submit :Submit, class: "btn btn-primary", name: "id",:value => d.id %>
				<%end%>
			</td>
			<td>
				<%=form_for(:department, url: department_path) do |f| %>
				<%= f.time_select :timings_end, :value => d.timings_end, :default => d.timings_end %>
				<%=f.submit :Submit, class: "btn btn-primary", name: "id",:value => d.id %>
				<%end%>
			</td>
			<td>
				
				
				
			</td>
		</tr>
	</tbody>

	<%end%>
</table>
</div>


		
</body>